.form__input {
    padding: 1rem 0;
    display: inline-block;
    font-size: 1.616rem;
    font-weight: 300;
    border: none;
    border-bottom: 2px solid var(--light-grey);
    width: 100%;
    color: var(--light-grey);
    outline: none;
}