.page__section {
    background-color: var(--white);
	height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
	will-change: background-color;
	transition: background-color 0.25s ease;
	left: 0;
	z-index: 1000;
}

.page__section__inner {
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
	padding: 0 2rem;
	will-change: opacity, visibility, transform;
}

@media screen and (min-width: 769px) {
	.page__section__inner {
		padding: 0 6rem;
	}
}

.page__section header {
	flex-basis: 100%;
	transition: opacity .55s ease 0.15s, transform .35s ease 0.15s;
	will-change: opacity, transform;
	transform: translateY(30px) translateZ(0);
}

.page__section.is-hidden header {
	opacity: 0;
}
.page__section.is-shown header {
	opacity: 1;
	transform: translateY(0) translateZ(0);
}
.page__section article {
	flex-grow: 1;
	will-change: opacity, transform;
	transition: opacity .55s ease 0.25s, transform .35s ease 0.25s;
	transform: translateY(30px) translateZ(0);
}

.page__section.is-hidden article {
	opacity: 0;
}

.page__section.is-shown article {
	opacity: 1;
	transform: translateY(0) translateZ(0);
}

.page__section p {
	font-weight: 300;
	font-size: 1.2rem;
}

.page__section__close {
	color: #999;
	cursor: pointer;
	font-size: 3rem;
	position: absolute;
	right: 4rem;
	z-index: 10;
}
